.login-page {
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 20px;
    color: white;
    justify-content: center;
    align-items: center;

    & .login-block {
        margin-top: 70px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 1000px;
        height: 600px;
        background-color: white;
        border: 1px solid #ccc;
        border-radius: 10px;
        color: black;

        & input {
            height: 40px;
            font-size: 25px;
            width: 100%;
            border-radius: 10px;
            border: 1px solid #ccc;
            padding-left: 10px;

            &:focus {
                outline: none !important;
                border-color: #0275d8;
                border-width: 1px;
            }
        }
        
        & .login-input {
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 10px;
            width: 800px;
    
            & .toggle-div {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                & .toggle {
                    border: 0;
                    background-color: white;
                    width: 40px;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 40px;
                    color: black;
                }
            }

            & .submit-div {
                width: 100%;
                display: flex;
                justify-content: center;

                & .login {
                    height: 50px;
                    width: 100%;
                    background-color: #0275d8;
                    border: 0;
                    border-radius: 10px;
                    color: white;
                    font-size: 15px;
                }
            }
        }

        & .doesnt-exist {
            margin-top: 20px;
            width: 100%;
            display: flex;
            justify-content: center;

            & a {
                margin-left: 5px;
                color: #0275d8;
                text-decoration: none;
            }
        }
    }
}